
h1{
    color:#fff;
    font-size: 4rem;
    font-weight: 700;
}
label{
    color: #fff;
}
.song{
    color: #fff;
    font-weight: 700;
    font-size: 2rem;
}   
.card-text{
    font-weight: 600;
}
.bg-color{
    background-color: gray;
    background: gray;
}
